.container {
  display: block;
}

.section {
  height: 100vh;
}

.navbar {
  height: 80px;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #ccc9c9;
  background-color: rgba(3, 3, 3, .69);
  box-shadow: 1px 1px 3px 0 #d1cdcd;
}

.link-block {
  display: block;
  clear: none;
}

.div-block {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 300px;
  height: 35px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  clear: none;
  text-align: center;
}

.link {
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 1px 1px 6px #000;
}

.nav-link {
  display: none;
}

.nav-link-2 {
  display: none;
}

.nav-link-3 {
  display: none;
}

.brand {
  display: none;
}

.link-block-2 {
  background-image: url('../images/bda0f5c741e04de2a3df09e8faaeec5c.jpg');
  background-position: 0px 0px;
  background-size: 227px;
}

.imgpadre {
  background-image: url('../images/father.png');
}
.imgmadre {
  background-image: url('../images/mother.png');

}
.imgpadre, .imgmadre {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto -90px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 100px;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-perspective: 1090px;
  perspective: 1090px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: opacity 292ms ease;
  transition: opacity 292ms ease;
}

.imgpadre:hover, .imgmadre:hover {
  -webkit-transform: scale(1.17);
  -ms-transform: scale(1.17);
  transform: scale(1.17);
}

.imghijo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url('../images/52e2005b79b9037697ee9ff85e8fdaf7.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.imghijo.hijomedio {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

.imghijo.hijomedio.hijo1 {
  margin-top: -50px;
  margin-left: 150px;
}

.imghijo.hijomedio.hijo1.hijoefect {
  margin-left: 180px;
  background-color: #fff;
  background-image: url('../images/boy.png');
  background-position: 50% 50%;
  background-size: 64px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px 0 #000;
}

.imghijo.hijomedio.hijo1.hijoefect:hover {
  border: 1px none #272727;
}

.imghijo.hijomedio.hijoultimo {
  margin-top: -60px;
  margin-right: 190px;
  margin-left: 48px;
  float: right;
  background-color: #fff;
  background-image: url('../images/girl.png');
  background-size: 64px;
  box-shadow: 1px 1px 3px 0 #000;
}

.imghijo.hijomedio.hijo2 {
  margin-top: 85px;
  margin-right: 0px;
  margin-left: 0px;
}

.imghijo.hijomedio.hijo2.h2 {
  margin-right: 0px;
  margin-left: -20px;
}

.imghijo.hijomedio.hijo2.h2.hijoefect {
  box-shadow: 1px 1px 3px 0 #000;
}

.imghijo.hijomedio.hijo2.h2.hijoefect.im1 {
  background-color: #fff;
  background-image: url('../images/girl.png');
  background-size: 64px;
}

.imghijo.hijomedio.hjopenultimo {
  margin-top: 56px;
  margin-right: -48px;
  margin-left: 0px;
  float: right;
}

.imghijo.hijomedio.hjopenultimo.h4 {
  margin-top: 85px;
  margin-right: -70px;
  background-color: #fff;
  background-image: url('../images/boy.png');
  background-size: 64px;
  box-shadow: 1px 1px 3px 0 #000, 1px 1px 3px 0 #000;
}

.imghijo.hijomedio.hijomedio1 {
  margin-top: 150px;
  float: none;
  box-shadow: 0 0 6px 0 #fff, 1px 1px 3px 0 #000;
}

.imghijo.hijomedio.hijomedio1.im2 {
  background-color: #fff;
  background-image: url('../images/boy2.png');
  background-position: 50% 50%;
  background-size: 64px;
}

.container-2 {
  margin-top: 15px;
}

.form {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: none;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  clear: none;
}

.container-3 {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  width: 150px;
  border-radius: 3px;
  background-color: #37bc9b;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.submit-button:hover {
  background-color: #2e997e;
}

.body {
  background-image: url('../images/242.jpg');
  background-position: 0px 0px;
  background-size: contain;
}

.div-block-2 {
  display: block;
  width: 180px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-5 {
  display: block;
}

.link-2 {
  margin-top: 15px;
  float: left;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 1px 1px 6px #000;
}

.div-block-3 {
  width: 50px;
  height: 50px;
}

.div-block-4 {
  width: 50px;
  height: 50px;
  float: right;
  border: 1px solid #bebebe;
  border-radius: 50px;
  background-color: #fff;
  background-image: url('../images/father.png');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.navbar-2 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: rgba(39, 39, 39, .83);
  color: rgba(51, 51, 51, .87);
}

.heading {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.div-block-5 {
  margin: 10px;
  padding: 0px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 9px 13px 0 #585656;
}

.div-block-6 {
  width: 50%;
  height: 95px;
  padding-right: 30px;
  float: left;
}

.div-block-6.startdate {
  width: 50%;
}

.div-block-6.startdate.enddate {
  width: 97%;
}

.div-block-7 {
  display: block;
  width: 50%;
  height: 95px;
  margin-right: auto;
  margin-left: auto;
  float: right;
}

.div-block-8 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  padding-left: 33px;
  border-left: 1px none #a8a8a8;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 40px;
  margin-top: 25px;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none none none solid;
  border-left-width: 1px;
  border-left-color: #e2e2e2;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
}

.field-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.field-label-2 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.field-label-3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.button {
  position: relative;
  bottom: 46px;
  display: inline-block;
  margin-top: -6px;
  margin-bottom: 0px;
  float: right;
}

.form-block-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.text-block {
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.div-block-10 {
  height: 35px;
  background-color: #e2e2e2;
}

.form-2 {
  padding: 10px;
}

.field-label-4 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.field-label-5 {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.submit-button-2 {
  width: 150px;
  border-radius: 3px;
  background-color: #37bc9b;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.submit-button-2:hover {
  background-color: #2e997e;
}

.select-field {
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
}

.select-field-2 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
}

.html-embed {
  display: block;
  width: auto;
  height: 15px;
  margin-top: 0px;
}

.body-2 {
  background-image: url('../images/242.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: scroll;
}

.nav-link-4 {
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.nav-link-5 {
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.image-2 {
  border-radius: 50px;
  background-color: #fff;
}

.image-3 {
  width: 200px;
  height: 200px;
}

.nav-link-6 {
  color: #fff;
}

.text-block-2 {
  margin-left: 5px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #da4453;
  font-size: 20px;
  font-weight: 600;
}

.text-block-3 {
  margin-left: 5px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.text-field {
  font-family: 'Open Sans', sans-serif;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0;
  -webkit-transform: translate(-43px, 0px);
  -ms-transform: translate(-43px, 0px);
  transform: translate(-43px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-3"] {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

html.w-mod-js *[data-ix="new-interaction-4"] {
  -webkit-transform: translate(-100px, 50px);
  -ms-transform: translate(-100px, 50px);
  transform: translate(-100px, 50px);
}

html.w-mod-js *[data-ix="new-interaction-5"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="new-interaction-6"] {
  -webkit-transform: translate(100px, 50px);
  -ms-transform: translate(100px, 50px);
  transform: translate(100px, 50px);
}

html.w-mod-js *[data-ix="new-interaction-7"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-9"] {
  opacity: 0;
  -webkit-transform: translate(-56px, 0px);
  -ms-transform: translate(-56px, 0px);
  transform: translate(-56px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-10"] {
  opacity: 0;
  -webkit-transform: translate(35px, 0px);
  -ms-transform: translate(35px, 0px);
  transform: translate(35px, 0px);
}

@media (max-width: 991px) {
  .imghijo.hijomedio.hijo1.hijoefect {
    margin-left: 103px;
  }
  .imghijo.hijomedio.hijoultimo {
    margin-right: 120px;
  }
  .imghijo.hijomedio.hijo2.h2.hijoefect {
    margin-left: -49px;
  }
  .imghijo.hijomedio.hjopenultimo.h4 {
    margin-right: -106px;
  }
  .menu-button {
    display: none;
  }
  .container-4 {
    display: block;
  }
  .navbar-2 {
    position: relative;
  }
  .menu-button-2 {
    color: #fff;
  }
  .menu-button-2.w--open {
    background-color: rgba(39, 39, 39, .83);
  }
  .nav-menu {
    background-color: rgba(39, 39, 39, .94);
    color: hsla(0, 3%, 7%, .95);
  }
}

@media (max-width: 767px) {
  .imghijo.hijomedio.hijo1.hijoefect {
    margin-left: 40px;
  }
  .imghijo.hijomedio.hijoultimo {
    margin-right: 50px;
  }
  .div-block-6.startdate {
    width: 100%;
    float: none;
  }
  .div-block-7 {
    width: 100%;
    float: none;
  }
  .div-block-9 {
    display: none;
  }
  .text-block {
    display: block;
  }
  .nav-menu {
    display: block;
  }
}

@media (max-width: 479px) {
  .imgpadre {
    width: 100px;
    height: 100px;
    margin-bottom: -81px;
    background-size: 70px;
  }
  .imghijo.hijomedio.hijo1.hijoefect {
    width: 50px;
    height: 50px;
    margin-top: 13px;
    margin-left: 40px;
    background-size: 40px;
  }
  .imghijo.hijomedio.hijoultimo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 40px;
    background-size: 40px;
  }
  .imghijo.hijomedio.hijo2.h2.hijoefect {
    width: 50px;
    height: 50px;
    margin-left: -34px;
  }
  .imghijo.hijomedio.hijo2.h2.hijoefect.im1 {
    background-size: 40px;
  }
  .imghijo.hijomedio.hjopenultimo.h4 {
    width: 50px;
    height: 50px;
    margin-right: -70px;
    background-size: 40px;
  }
  .imghijo.hijomedio.hijomedio1 {
    width: 50px;
    height: 50px;
  }
  .imghijo.hijomedio.hijomedio1.im2 {
    background-size: 40px;
  }
  .container-2 {
    margin-top: 75px;
  }
  .submit-button-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
